.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(244, 235, 235);
  padding-top: 10px;
  font-style: bold;
  font-weight: 10px;
  font-size: 1.1rem;
  height: auto;
  background-color: #f0df94;
  text-align: center;
  padding-left: 23%;
  padding-right: 23%;
}

.Footer {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f0df94;
}

.footer__icon {
  font-size: 25px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer__icon :hover {
  color: rgb(221, 60, 60);
  background-color: #090808;
  transition: all 0.2s;
}

.footer-bottom {
  background: #000;
  /* width: 100vw; */
  padding: 15px;
  text-align: center;
}
.footer-bottom p {
  color: rgb(241, 227, 228);
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #f0df94;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
